doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    title Document
.container
    header.header
        a(href="/")
            img.logo(src='/img/logo.png' alt='buyit logo')
        form.search(action='#')
            input.search__input(type='text' placeholder='Search Products')
            button.search__button
                svg.search__icon
                    use(xlink:href='/img/sprite.svg#icon-magnifying-glass')
        nav.user-nav
            if !user
                .user-nav__icon-box
                    ul
                        li
                            a login
            if user
                user-nav__icon-box
                    ul
                        li
                            a logout
            if !user
                .user-nav__icon-box
                    ul
                        li
                            a register
            .user-nav__icon-box
                ul
                    li
                        a(href='')
                            i.fas.fa-plus-circle.fa-3x.text-color
            if user 
                .user-nav__user
                    img.user-nav__user-photo(src='/img/user.jpg' alt='User photo')
                    span.user-nav__user-name Jonas
    .content
        nav.sidebar
            ul.side-nav
                li.side-nav__item.side-nav__item--active
                    a.side-nav__link(href='#')
                        svg.side-nav__icon
                            use(xlink:href='/img/sprite.svg#icon-home')
                        span CATEGORIES
                each category in categories            
                    li.side-nav__item
                        a.side-nav__link(href=`/products/${category.name}`)
                            svg.side-nav__icon
                            span #{category.name}
                
            .legal
                | &copy; 2021 by buyit. All rights reserved.
        main.hotel-view
        block content

script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js' integrity='sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF' crossorigin='anonymous')
