extend base 

block content
    .detailss
        .view
            .image-view 
                #slideshow
                    .slide-wrapper
                        .slide
                            img.slide-number(src="/img/mac.png", alt="") 
                        .slide
                            img.slide-number(src="/img/mac.png", alt="")
                        .slide
                           img.slide-number(src="/img/mac.png", alt="")
                        .slide
                            img.slide-number(src="/img/mac.png", alt="")
                        .slide
                            img.slide-number(src="/img/mac.png", alt="")
            .detailed
                .holder
                    .location 
                        h3 YAHOO JUNCTION, IFITE
                    .time
                        h3 1 hour ago
                .description
                    h4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut saepe eveniet sint alias ipsum, quos nostrum, aliquam blanditiis rem corporis cumque? A consequatur nobis facere, illum, unde nostrum et eveniet dicta tempora fugiat, accusantium quibusdam modi quia doloremque reiciendis eaque aspernatur ipsam fugit odit! Aspernatur accusamus dolor autem rerum optio, recusandae consectetur laboriosam dolorum quas ex animi? Facere suscipit culpa eaque velit consectetur nobis fugit excepturi accusantium quis deserunt quisquam eos, repudiandae asperiores. Exercitationem tenetur aut expedita pariatur, culpa ex.
        .tips
            .v-header
                h2 VENDOR DETAILS
            .vendor-image 
                img.vendor-dp(src="/img/avatar2.png", alt="")
            .vendor-contact 
                .v-header
                    h2 CONTACT VENDOR
                a.phone(href="tel:+2348146622811") 
                    i.fas.fa-phone  08146622811 
                a.msg(href="#")
                    i.fas.fa-envelope  start chat 
            .safety-tips
                .v-header
                    h2 SAFETY TIPS
                br
                
                ul 
                    li Do not pay in advance even for the delivery

                    li Try to meet at a safe, public location

                    li Check the item BEFORE you buy it

                    li Pay only after collecting the item


        