extend base 

block content 
    .detail
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000
        .grid
            .img
                img(src='/img/mac.png' alt='')
                .img--num
            .details
                .description
                    h4 Macbook pro 2015 8gb....
                .price
                    h5(style='color: #eb2f64') #350,000