extend base 

block content 
    
    .gallery
        #home.banner
            .container-fluid
                .row
                    .col-12
                        .center-align
                            .mt
        .detail
            
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000
            a.a(href="/details") 
                .grid
                    .img
                        img(src='/img/mac.png' alt='')
                        .img--num
                    .details
                        .description
                            h4 Macbook pro 2015 8gb....
                        .price
                            h5(style='color: #eb2f64') #350,000